@page "{id}"

@model QRKiller.Pages.CodeModel
@{
}

<div style="display: flex; flex-direction: column; align-items: center">
    <p>@Model.Id</p>
    <p>@Model.imagePairing.Item2</p>
    <img src="/api/Image/@Model.imagePairing.Item1" alt="Image" style="width:250px; height:auto;" />
    <button type="submit" class="btn btn-primary">Cutsheet</button>
    <button type="submit" class="btn btn-primary">Detail</button>
    <button type="submit" class="btn btn-primary">Punchlist</button>
    <button type="submit" class="btn btn-primary">Schedule</button>
</div>

