@page
@model QRKiller.Pages.ImagesModel
@{
}



<h2>Image Gallery</h2>

<ul>
    @foreach (var image in Model.Images)
    {
        <li>
            <div>
                <p>@image.Item2</p>
                <img src="/api/Image/@image.Item1" alt="Image" style="width:150px; height:auto;" />
            </div>
            
        </li>
    }
</ul>
