@page
@model QRKiller.Pages.LookupModel
@{
    ViewData["Title"] = "Look Up Code";
}

<h2>Look Up Code</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ImageId">Image ID:</label>
        <input type="text" name="ImageId" asp-for="ImageId" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Look Up</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}


