@page
@model QRKiller.Pages.LookupModel
@{
    ViewData["Title"] = "Look Up Code";
}

<h2>Look Up Code</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ImageFile">Choose an image to upload:</label>
        <input type="file" name="ImageFile" asp-for="ImageFile" class="form-control" accept="image/*" required />
    </div>
    <button type="submit" class="btn btn-primary">Look Up</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}


