@page
@model QRKiller.Pages.LookupModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Generate QRKiller Code</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" name="Name" class="form-control" required />
        <label for="Content">Content:</label>
        <input type="text" name="Content" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="ImageFile">Choose an image to upload:</label>
        <input type="file" name="ImageFile" class="form-control" accept="image/*" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

